Desktop.ini    
.DS_Store 
!.bridge/
.bridge/*
!.bridge/compiler/
!.bridge/extensions
builds/dist
builds/Simcraft_Bedrock.mcaddon
builds/Simcraft_Bedrock_backup.mcaddon
builds/Simcraft_Bedrock.brproject
